<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org">
<head th:replace="layout :: head(title='Home')"></head>
<body>
    <div th:replace="layout :: nav(selectedTab='home')"></div>
    <div class="container">
        <div class="jumbotron">
            <h1>Crane Accounting</h1>
            <p>Application Domain project taught by Dr. Mamo</p>
            <hr />
            <p><b>Created by:</b></p>
            <p>Calvin Nix, Alejandro Estrada, Eric Plascencia, Noor Masood, and Shaun Dirton</p>
            <hr />
            <h2>Let's get started</h2>
            <ul>
                <li><a href="/accounts">Create an Account</a></li>
                <li><a href="/accounts">Edit an Account</a></li>
                <li><a href="/accounts">Deactivate an Account</a></li>
                <li><a href="/journals">Add Journal Entry</a></li>
                <li sec:authorize="hasRole('ROLE_ADMIN') || hasRole('ROLE_MANAGER')"><a href="/postJournals">Post Journal Entries</a></li>
                <li><a href="/ledger">View Ledger</a></li>
                <li><a href="/trialBalance">View Trial Balance</a></li>
                <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/admin">Manage Users</a></li>
                <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/events">View Event Logs</a></li>
            </ul>
        </div>

    </div>
    <block th:replace="layout :: script"></block>
</body>
</html>