<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="UTF-8" />
    <title th:text="${title}"></title>
    <!--link rel="stylesheet" href="css/bootstrap.min.css"/-->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/toastr.min.css"/>
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="css/bootstrap-select.min.css" />
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" th:fragment="nav" th:if="${login == null}">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li th:class="${selectedTab} == 'home' ? 'active' : ''"><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li th:class="${selectedTab} == 'admin' ? 'active' : ''" sec:authorize="hasRole('ROLE_ADMIN')"><a href="/admin">Users</a></li>
                            <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/console">Console</a></li>
                            <li th:class="${selectedTab} == 'events' ? 'active' : ''" sec:authorize="hasRole('ROLE_ADMIN')"><a href="/events">Event Log</a></li>
                            <li sec:authorize="hasRole('ROLE_ADMIN')" th:class="${selectedTab} == 'chartOfAccounts' ? 'active' : ''"><a href="/chartOfAccounts">Chart of Accounts</a></li>
                        </ul>
                    </li>
                    <li th:class="${selectedTab} == 'accounts' ? 'active' : ''"><a href="/accounts">Accounts</a></li>
                    <li th:class="${selectedTab} == 'journals' ? 'active' : ''"><a href="/journals">Journals</a></li>
                    <li th:class="${selectedTab} == 'postJournals' ? 'active' : ''" sec:authorize="hasRole('ROLE_ADMIN') || hasRole('ROLE_MANAGER')"><a href="/postJournals">Post Journals</a></li>
                    <li th:class="${selectedTab} == 'ledger' ? 'active' : ''"><a href="/ledger">Ledger</a></li>
                    <li th:class="${selectedTab} == 'trialBalance' ? 'active' : ''"><a href="/trialBalance">Trial Balance</a></li>
                    <li th:class="${selectedTab} == 'balanceSheet' ? 'active' : ''"><a href="/balanceSheet">Balance Sheet</a></li>
                    <li th:class="${selectedTab} == 'incomeStatement' ? 'active' : ''"><a href="/incomeState">Income Statement</a></li>
                    <li th:class="${selectedTab} == 'statementOfRetainedEarnings' ? 'active' : ''"><a href="/statementOfRetainedEarnings">Retained Earnings</a></li>
                    <li th:class="${selectedTab} == 'ratioAnalysis' ? 'active' : ''"><a href="/ratioAnalysis">Ratio Analysis</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a id="username" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" sec:authentication="name"></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">View Profile</a></li>
                            <li>
                                <form class="logout inline" th:action="@{/logout}" method="post">
                                    <button class="btn btn-default" type="submit">Logout</button>
                                </form>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <img th:fragment="loading" class="center-block" src="img/ring-alt.svg" alt="Loading..." />

    <div th:fragment="flash" th:if="${flash != null}" class="errorDiv">
        <div class="alert alert-danger alert-dismissible flash" role="alert" th:classappend="${#strings.toLowerCase(flash.status)}" th:text="${flash.message}">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
    </div>
    <th:block fragment="script">
        <script src="js/build/bundle.js"></script>
        <script type="text/babel" src="js/app.js"></script>
    </th:block>
</body>
</html>